---
const {data} = Astro.props;
console.log(data);
---

<a href={`kurs/${data.slug}`}>
<article>
    <h3>{data.Tittel}</h3>
    <img class="kurs2" src=`/img/${data.img}` alt={data.Tittel}>
</article>
</a>

<style>
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .kurs2.enlarged {
        transform: scale(1.1);
    }
</style>
<script>
const image = document.querySelector('.kurs2');

image.addEventListener('mouseenter', () => {
    image.classList.add('enlarged');
});
image.addEventListener('mouseleave', () => {
    image.classList.remove('enlarged');
});
</script>