---
const {data} = Astro.props;
console.log(data);
---

<a href={`/${data.slug}`}>
<article>
    <h3>{data.Tittel}</h3>
    <img class="kurs2" src=`/img/${data.img}` alt={data.Tittel}>
</article>
</a>

<style>
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
</style>
