---
import MainLayout from "../../MainLayout.astro";

// "https://fisxfvyrriqnsrbvxcmu.supabase.co"

export async function getStaticPaths () { 
    const data = await fetch(
    "https://fisxfvyrriqnsrbvxcmu.supabase.co/rest/v1/kursurs",
{
    method: "GET",
    headers: {
        
    },
}
).then ((res) => res.json());

return data.map((kurs) => {
return {
  params: { id: kurs.id },
 props: {myData: kurs},

 };
});

}
  const { myData } = Astro.props;
  console.log(myData);

---

<MainLayout title={myData.Tittel}>

<h1>{myData.Tittel}</h1>
<div class="grid_1-1">
    <div>
    <img src={myData.img} alt="kurs">
</div>
<div>
    <h3>Dato:</h3> <p>{myData.date}</p>
<h3>Sted:</h3> <p>{myData.place}</p>
   <h3>Antal Pladser:</h3> <p>{myData.spots}</p>
</div>
<div>
    <h3>Hvad går kurset ud på?</h3>
    <p>{myData.info}</p>
</div>
<div>
    <img src={myData.illustrasjon} alt="illustrasjon">
</div>
</div>

</MainLayout>

<style>
    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    img {
        width: 100%;
    }
</style>