---
import MainLayout from "../../MainLayout.astro";
import "../../styles/generel.css";

// "https://fisxfvyrriqnsrbvxcmu.supabase.co/rest/v1/kursurs"

export async function getStaticPaths () { 
    const data = await fetch(
    "https://fisxfvyrriqnsrbvxcmu.supabase.co/rest/v1/kursurs",
{
    method: "GET",
    headers: {
        apikey: 
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpc3hmdnlycmlxbnNyYnZ4Y211Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU4NDg5MDgsImV4cCI6MjAzMTQyNDkwOH0.5lrBoPFJ4FjT9V9DBJyvo0pcABFHQsghMHx2TlHhV3o",
},
}
 
).then((res) => res.json());

console.log(data);

return data.map((kurs) => {
return {
  params: { slug: kurs.slug },
 props: { myData: kurs },

 };
});
}
  const { myData } = Astro.props;
  console.log(myData);

---

<MainLayout title={myData.Tittel}>
<main>
<h1>{myData.Tittel}</h1>
<div class="grid_1-1">
    <div>
    <img src={myData.img} alt="kurs">
</div>
<div class="grid_1-1-1">
    <div>
    <h3>Dato:</h3> <p>{myData.Date}</p>
</div>
<div>
<h3>Sted:</h3> <p>{myData.Place}</p>
</div>
<div>
   <h3>Antal Pladser:</h3> <p>{myData.Spots}</p>
</div>
</div>
<div>
    <h3>Hvad går kurset ud på?</h3>
    <p>{myData.Info}</p>
</div>
<div>
    <img src={myData.illustrasjon} alt="illustrasjon">
</div>
</div>
</main>
</MainLayout>

<style>

main {
    margin: 40px;
    margin-bottom: 60px;
}


@media screen and (max-width: 768px) {
.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
}

@media screen and (min-width: 768px) {
    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    img {
        width: 100%;
    }

    main {
        margin: 100px;
        margin-bottom: 60px;
    }
}

</style>